<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Keys Input</title>
</head>
<body>
    <h1>Enter user data/h1>
    <form action="/userdata" method="post">

        <label for="ai_name">AI Name:</label>
        <input type="text" id="ai_name" name="ai_name" required><br><br>
        <label for="ai_role">AI Role:</label>
        <input type="text" id="ai_role" name="ai_role" required><br><br>

        <label for="gola1">Goal 1:</label>
        <input type="text" id="gola1" name="gola1" required><br><br>
        <label for="gola2">Goal 2:</label>
        <input type="text" id="gola2" name="gola2" required><br><br>
        <label for="gola3">Goal 3:</label>
        <input type="text" id="gola3" name="gola3" required><br><br>
        <label for="gola4">Goal 4:</label>
        <input type="text" id="gola4" name="gola4" required><br><br>
        <label for="gola5">Goal 5:</label>
        <input type="text" id="gola5" name="gola5" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
